.conta-historico svg {
   font-size: 12px;
}

.conta-container {
   display: flex;
   min-height: 100vh;
   background-color: var(--background-color);
   font-family: Arial, sans-serif;
   flex-direction: column;
}

.conta-content {
   flex: 1;
   padding: 20px 10%;
}

.conta-header {
   display: flex;
   justify-content: first baseline;
   align-items: center;
   margin-bottom: 20px;
   width: 100%;
   gap: 20px;
}

.conta-dadosPessoais-button {
   background-color: var(--button-background-dados-pessoais);
   color: var(--text-color);
   border: none;
   border-radius: 5px;
   padding: 15px 25px;
   font-size: 24px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   display: flex;
   align-items: center;
   font-weight: bold;
}

.conta-dadosPessoais-button:hover {
   background-color: var(--hover-background-color);
   color: var(--hover-text-color);
}

.conta-dadosPessoais-button svg {
   font-size: 24px;
   margin-right: 10px;
}

.conta-edit-button {
   background-color: var(--background-color);
   color: var(--text-color);
   border: none;
   border-radius: 5px;
   padding: 15px 25px;
   font-size: 24px;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.conta-edit-button:hover {
   background-color: var(--button-background-color);
   color: white;
}

.conta-conta-content {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.conta-conta-left {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: 50px;
}

.conta-conta-logo {
   width: 250px;
   margin-bottom: 20px;
}

.conta-conta-right {
   background-color: var(--background-color);
   width: 70%;
   padding: 20px;
   border-radius: 15px;
}

.conta-dados-pessoais {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.conta-dados {
   background-color: var(--table-row-hover);
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 15px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.conta-dados strong {
   display: block;
   font-size: 14px;
   color: var(--hover-text-color);
   margin-bottom: 5px;
}

.conta-dados p {
   font-size: 16px;
   color: var(--hover-text-color);
   margin: 0;
}

@media (max-width: 768px) {
   .conta-content {
      padding: 20px 5%; /* Menor padding lateral */
   }

   .conta-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
   }

   .conta-dadosPessoais-button,
   .conta-edit-button {
      font-size: 18px;
      padding: 10px 15px;
      width: 100%;
      justify-content: center;
   }

   .conta-conta-content {
      flex-direction: column;
      align-items: center;
   }

   .conta-conta-left,
   .conta-conta-right {
      width: 100%;
      max-width: 100%;
      margin: 0 0 20px 0;
   }

   .conta-conta-logo {
      width: 150px;
      margin-bottom: 15px;
   }
}