body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.editar-proposta {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}

.proposta-content {
   flex: 1;
   padding: 20px 10%;
   background-color: var(--background-color);
}

.atualizar-proposta h1 {
   margin-bottom: 30px;
   margin-top: 30px;
   color:var(--text-color);
   font-size: 30px;
   font-weight: bold;
   border-left: 5px solid #E86032; 
   padding-left: 10px; 
}

.atualizar-proposta h4 {
   font-weight:normal;
   margin-bottom: 20px;
   margin-top: 20px;
   color: var(--text-color);
}

.atualizar-proposta {
   background: var(--hover-background-color);
   border-radius: 20px;
   width: 100%;
   max-width: 100%;
   font-size: 16px;
}

.form-group {
   display: flex;
   flex-direction:column;
   margin-bottom: 15px;
   width: 100%;
}

.form-group label {
   width: auto; 
   text-align: left; 
   font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
   flex: 1; 
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
}


.input-container {
   position: relative;
   width: 100%;
}

.input-container input,
.input-container textarea {
   width: 100%;
   padding: 10px;
   padding-right: 35px; /* Garante espaço para o ícone */
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
}

.edit-icon {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   color: var(--text-color);
   transition: color 0.3s;
}

.edit-icon:hover {
   color: #E86032;
}

.select-container-editarProposta {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
}

.select-container-editarProposta select {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   appearance: none;
   cursor: pointer;
   background-color: var(--table-row-background);
}

.select-container-editarProposta select:focus {
   border-color: #0a0f18;
}

.select-container-editarProposta .select-icon {
   position: absolute;
   right: 15px;
   pointer-events: none;
   font-size: 22px;
   color: var(--text-color);
}

/* ===== Media Queries Responsivas ===== */

/* Tablets e telas médias */
@media (max-width: 1024px) {
   .atualizar-proposta h1 {
      font-size: 30px;
   }
   .app-header {
      display: flex;
      height: 60px;
   }
}

/* Celulares e telas pequenas */
@media (max-width: 768px) {
   .atualizar-proposta h1 {
      font-size: 28px;
   }
}

/* Extra pequeno - celulares muito pequenos */
@media (max-width: 480px) {
   .atualizar-proposta h1 {
      font-size: 25px;
   }
   .app-header {
      display: flex;
      height: 60px;
   }
}