.editarperfil-header-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.editarperfil-historico {
   display: flex;
   align-items: center;
   gap: 2px;
}

.editarperfil-historico h2 {
   font-size: 12px;
   margin: 0;
   color: #7C7C7C;
   font-weight: 200;
}

.voltarHome {
   border: none;
   background-color: white;
}

.voltarConta {
   border: none;
   background-color: white;
   font-size: 12px;
}


.editarperfil-historico svg {
   font-size: 12px;
}

.editarperfil-container {
   display: flex;
   min-height: 100vh;
   background-color: white;
   font-family: Arial, sans-serif;
}

.editarperfil-content {
   flex: 1;
   padding-left: 100px;
   padding-top: 40px;
   padding-right: 100px;
   padding-bottom: 40px;
   margin-left: 20%;
}

.editarperfil-header {
   display: flex;
   justify-content: first baseline;
   align-items: center;
   margin-bottom: 20px;
   width: 100%;
   gap: 20px;
}

.editarperfil-conta-button {
   background-color: WHITE;
   color: #0c1a26;
   border: none;
   border-radius: 5px;
   padding: 15px 25px;
   font-size: 24px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   display: flex;
   align-items: center;
   font-weight: bold;
}

.editarperfil-conta-button:hover {
   background-color: #0c1a26;
   color: white;
}

.editarperfil-conta-button svg {
   font-size: 24px;
   margin-right: 10px;
}

.editarperfil-editperfil-button {
   background-color: #e4e4e4;
   color: #0c1a26;
   border: none;
   border-radius: 5px;
   padding: 15px 25px;
   font-size: 24px;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.editarperfil-editperfil-button:hover {
   background-color: #0c1a26;
   color: white;
}

.editarperfil-conta-content {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.editarperfil-conta-left {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: 50px;
}

.editarperfil-conta-logo {
   width: 250px;
   margin-bottom: 20px;
}

.editarperfil-conta-right {
   background-color: white;
   width: 70%;
   padding: 20px;
   border-radius: 15px;
}

.editarperfil-dados-pessoais {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.editarperfil-dados {
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 15px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.editarperfil-dados strong {
   display: block;
   font-size: 14px;
   color: #666;
   margin-bottom: 5px;
}

.editarperfil-dados p {
   font-size: 16px;
   color: #333;
   margin: 0;
}
