.inserir {
   display: flex;
   min-height: 100vh;
   background-color: white;
}

.content-formulario {
   flex-grow: 1;
   margin-left: 20%; 
   padding-left: 100px;
   padding-top: 40px;
   padding-right: 100px;
   padding-bottom: 40px;
}

.inserir-novo {
   background: white;
   border-radius: 20px;
   width: 100%;
   max-width: 100%;
   font-size: 16px;
}

.inserir-novo h1 {
   margin-bottom: 30px;
   margin-top: 30px;
   color: #0C1A26;
   font-size: 30px;
   font-weight: bold;
   border-left: 5px solid #E86032; 
   padding-left: 10px; 
}

.inserir-novo h4 {
   font-weight:normal;
   margin-bottom: 20px;
   margin-top: 20px;
   color: black;
}

.inserir-novo-fornecedores {
   background: white;
   border-radius: 20px;
   width: 100%;
   max-width: 40%;
   font-size: 20px;
}

.inserir-novo-fornecedores h1 {
   margin-bottom: 30px;
   margin-top: 30px;
   color: #0C1A26;
   font-size: 30px;
   font-weight: bold;
   border-left: 5px solid #E86032; 
   padding-left: 10px; 
}

.form-group {
   margin-bottom: 15px;
}

.form-group label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
}

.form-group input {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   height: 45px;
}

.form-group textarea {
   width: 100%; 
   height: 100px; 
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: none; 
   overflow-y: auto; 
   font-size: 16px;
   line-height: 1.4; 
   vertical-align: top; 
}

.form-row {
   display: flex; 
   gap: 15px; 
}

.form-row .form-group {
   flex: 1; 
}

.form-row .form-group input {
   width: 100%; 
}

.search-container {
   position: relative;
   width: 50%;
}

.search-container input {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 10px;
   outline: none;
   transition: 0.1s;
}

.dropdown {
   position: absolute;
   width: 100%;
   max-height: 150px;
   overflow-y: auto;
   list-style: none;
   padding: 0;
   margin-top: 5px;
   z-index: 1000;
   background-color: #0a0f18;
   color: white;
   border-radius: 5px;
}

.dropdown li {
   padding: 10px;
   cursor: pointer;
   border-bottom: 1px solid white; 
}

.dropdown li:last-child {
   border-bottom: none; 
}

.dropdown li:hover, .dropdown .highlight {
   background: #E86032;
   color: white;
}

.select-container {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
}

.select-container select {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   appearance: none;
   cursor: pointer;
   background-color: white;
}

.select-container select:focus {
   border-color: #0a0f18;
}

.select-container .select-icon {
   position: absolute;
   right: 15px;
   pointer-events: none;
   font-size: 22px;
   color: #555;
}