.home {
   display: flex;
   height: 100vh;
   flex-direction: column;
}

.home-content {
  flex: 1;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.dashboard-content {
   display: grid;
   grid-template-columns: 1fr;
   gap: 2rem;
   padding: 20px 10%;
}

.dashboard-section {
  background-color: var(--quadros-background-color);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stats-container {
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
}

.stats-container .dashboard-section {
   flex: 1 1 300px;
}

