/* Layout principal */
/* Tema claro por padrão */
:root {
   --header-background-color: #0C1A26;
   --header-text-color: white;
   --background-color: white;
   --text-color: #0C1A26;

   --button-background-color: #0C1A26;
   --button-text-color: white;

   --hover-background-color: white;
   --hover-text-color: #0C1A26;

   --input-border: #ccc;
   --input-border-focus: #E86032;

   --table-header-background: #0C1A26;
   --table-header-color: white;
   --table-row-background: white;
   --table-row-hover: #f9f9f9;
   --table-border-color: #f0f0f0;
   --input-background: white;

   --button-background-cancel:#d32f2f;
   --button-background-guardar:#0C1A26;

   --quadros-background-color: white;
}

[data-theme='dark'] {
   --header-background-color: #0f0f0f;
   --header-text-color: white;
   --background-color: #0f0f0f;
   --text-color: white;

   --button-background-color: #1f1f1f;
   --button-text-color: white;

   --hover-background-color: #0f0f0f;
   --hover-text-color: white;

   --input-border: #444;
   --input-border-focus: #E86032;

   --table-header-background: #272727;
   --table-header-color: white;
   --table-row-background: #1a1a1a;
   --table-row-hover: #2a2a2a;
   --table-border-color: #333;
   --input-background: #1f1f1f;

   --button-background-cancel:#d32f2f;
   --button-background-guardar:#1f1f1f;

   --quadros-background-color: #1f1f1f;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

.App {
   display: flex;
   min-height: 100vh;
   background-color: var(--background-color);
}
 
.header-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.content {
   flex: 1;
   padding: 50px;
   background: var(--background-color);
}

.buttons {
   display: flex;
   justify-content:flex-start;
   margin-top: 50px;
   gap: 30px;
}

.buttons button {
   padding: 15px 24px; 
   border: none;
   border-radius: 25px; 
   cursor: pointer;
   font-size: 20px;
   font-weight: 600; 
   transition: all 0.3s ease; 
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
   display: flex; 
   align-items: center; 
   gap: 8px; 
}

.buttons button svg {
   font-size: 24px;
}

.buttons .save {
   background-color: var(--button-background-guardar);
   color: white;
}

.buttons .save:hover {
   background-color: var(--button-background-color);
   transform: translateY(-2px); 
   box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); 
}

.buttons .cancel {
   background-color: var(--button-background-cancel);
   color: white;
}

.buttons .cancel:hover {
   background-color: var(--button-background-cancel);
   transform: translateY(-2px); 
   box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); 
}

.historico {
   display: flex;
   align-items: center;
   gap: 2px;
   background-color: var(--background-color);
}

.historico h2 {
   font-size: 12px;
   margin: 0;
   color: var(--text-color);
   font-weight: 200;
   background-color: var(--background-color);
}

.historico svg {
   font-size: 14px;
   background-color: var(--background-color);
   color: var(--text-color);
   align-items: center;   
   vertical-align: middle;
}

.voltarHome {
   border: none;
   background-color: transparent;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   line-height: 0; /* remove espaço extra vertical */
   font-size: 14px; /* tamanho similar ao texto ao lado */
   color: var(--text-color);
}

