/* Layout principal */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

.App {
   display: flex;
   min-height: 100vh;
   background-color: #f4f4f4;
}
 
.header-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.content {
   flex: 1;
   padding: 50px;
   background: white;
}

.buttons {
   display: flex;
   justify-content:flex-start;
   margin-top: 50px;
   gap: 30px;
}

.buttons button {
   padding: 15px 24px; 
   border: none;
   border-radius: 25px; 
   cursor: pointer;
   font-size: 20px;
   font-weight: 600; 
   transition: all 0.3s ease; 
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
   display: flex; 
   align-items: center; 
   gap: 8px; 
}

.buttons button svg {
   font-size: 24px;
}

.buttons .save {
   background-color: #0a0f18;
   color: white;
}

.buttons .save:hover {
   background-color: #1a2a3a;
   transform: translateY(-2px); 
   box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); 
}

.buttons .cancel {
   background-color: #d32f2f;
   color: white;
}

.buttons .cancel:hover {
   background-color: #b71c1c;
   transform: translateY(-2px); 
   box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); 
}

.historico {
   display: flex;
   align-items: center;
   gap: 2px;
}

.historico h2 {
   font-size: 12px;
   margin: 0;
   color: black;
   font-weight: 200;
}

.historico svg {
   font-size: 12px;
}

.voltarHome{
   border: none;
   background-color: white;
}